<div class="row">
    <div class="col-md-4">
        <img class="card-img-top" src={{productDetails.image}} alt={{productDetails.name}}>
    </div>
    <div class="col-md-8">
      <nb-card>
        <nb-card-header><h3>{{productDetails.name}}</h3></nb-card-header>
        <nb-card-body>
          <form class="form-horizontal" [formGroup]="productForm" >
            <div class="form-group row">
              <label for="inputPolictFrom" class="col-sm-3 form-control-label">Policy From</label>
              <div class="col-sm-9">
                <input type="date"  nbInput fullWidth id="inputPolictFrom" placeholder="Policy From" formControlName="policyFrom">
              </div>
            </div>
            <div class="form-group row">
                <label for="inputPolictTo" class="col-sm-3 form-control-label">Policy To</label>
                <div class="col-sm-9">
                  <input type="date" nbInput fullWidth id="inputPolictTo" placeholder="Policy To" formControlName="policyTo">
                </div>
              </div>

              <div *ngFor="let a of answers;let i=index;"  class="form-group row" formArrayName="answercontrols">
                <label class="col-sm-3 col-form-label">{{a.question.text}} </label>

                <div class="col-sm-9" *ngIf="a.question.questionType==='Numeric'">
                    <input required type="number" class="form-control" [formControlName]="i"
                    />
                </div>

                <div class="col-sm-9" *ngIf="a.question.questionType==='Choice'">
                    <select required class="form-control"  [formControlName]="i">
                        <option *ngFor="let option of a.question.choices" [ngValue]="option.code" >
                            {{ option.label }}
                        </option>
                    </select>
                </div>

            </div>  

            <!-- displays price -->
            <div class="form-group row" *ngIf="'VIEW' === mode">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <span class="float-left">
                        <strong>{{price.amountToPay}} EUR</strong>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 margin-top-10">
                    <div class="d-flex flex-row-reverse" *ngIf="'EDIT' === mode">
                        <div class="p-2">
                            <button type="submit" nbButton status="warning" (click)="onSubmit()">Calculate price
                            </button>
                        </div>
                        <div class="p-2">
                            <a [routerLink]="['/pages/product/products']">
                                <button nbButton >Back</button>
                            </a>
                        </div>
                    </div>
    
                    <div class="d-flex flex-row-reverse" *ngIf="'VIEW' === mode">
                        <div class="p-2">
                            <button type="submit" class="btn btn-primary" nbButton (click)="createPolicy()">Buy</button>
                        </div>
                        <div class="p-2">
                            <a class="btn btn-secondary" nbButton  (click)="backToEdit()" role="button">Change
                                parameters</a>
                        </div>
                        <div class="p-2">
                            <a [routerLink]="['/pages/product/products']">
                                <button nbButton >Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
